<!DOCTYPE html>
<html>
  <head>
    <% include partials/scripts.ejs %>
    <title>Dashboard</title>
  </head>
  <body>
    <% include partials/header.ejs %>
     <div class="container1">
       <div class="row">
         <div class="col-md-4">
           <div class="thumbnail">
             <a href="/bookings">
               <img src="../../resources/images/someFood1.jpg">
               <div class="centered">
                 <h2>Bookings</h2>
               </div>
             </img>
             </a>
           </div>
         </div>
         <div class="col-md-4">
           <div class="thumbnail">
             <a href="/customerReservations">
               <img src="../../resources/images/someFood2.jpg">
               <div class="centered">
                 <h2>Customer Reservations</h2>
               </div>
             </a>
           </div>
         </div>
         <div class="col-md-4">
           <div class="thumbnail">
             <a href="/menu">
               <img src="../../resources/images/someFood3.jpg">
               <div class="centered">
                 <h2>Menu Items</h2>
               </div>
             </a>
           </div>
         </div>
       </div>
       <!-- <div class="row">
         <div class="col-md-4">
           <div class="thumbnail">
             <a href="/alterMenu">
               <img src="../../resources/images/someFood4.jpg">
               <div class="centered">
                 <h2>Alter Menu</h2>
               </div>
             </a>
           </div>
         </div>
         <div class="col-md-4">
           <div class="thumbnail">
             <a href="/sendOrders">
               <img src="../../resources/images/someFood5.jpg">
               <div class="centered">
                 <h2>Send orders to staff</h2>
               </div>
             </a>
           </div>
         </div>
         <div class="col-md-4">
           <div class="thumbnail">
             <a href="/adjustWalkins">
               <img src="../../resources/images/someFood6.jpg">
               <div class="centered">
                 <h2>Adjust Walk-ins</h2>
               </div>
             </a>
           </div>
         </div>
     </div> -->
  </body>
</html>
