<!DOCTYPE html>
<html>
  <head>
    <% include partials/scripts.ejs %>
    <title>Send Orders</title>
  </head>
  <body>
    <% include partials/header.ejs %>
     <div class="container">

     </div>
  </body>
</html>
